name: Docs

on:
  push:
    branches:
      - main

jobs:
  build-docs:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-haskell@v1
      with:
        enable-stack: true

    - name: Generate docs
      run: |
        stack haddock &&\
        mv $(stack path --local-doc-root) ./ &&\
        mv ./assets ./doc
    - name: Publish docs
      uses: JamesIves/github-pages-deploy-action@v4.2.3
      with:
        folder: doc
        branch: docs
