name: Haskell CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-haskell@v1
      with:
        enable-stack: true

    - name: Install dependencies and build
      run: stack build
    - name: Run tests
      run: stack test
    - name: Generate docs
      run: |
        stack haddock &&\
        cp -r $(stack path --local-doc-root) ./
    - name: Publish docs
      uses: JamesIves/github-pages-deploy-action@v4.2.3
      with:
        folder: doc
        branch: docs
          
      
